extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/home.css')
	
mixin prestation(prestation)
	.card.col-3.m-4.mx-2
		img.card-image.img-fluid.rounded-circle(src='../'+prestation.imagePath alt='prestation image')
		.card-body
			h4.card-title.text-uppercase= prestation.titre
			h6.card-subtitle.mb-2.text-light= prestation.sous_titre
			p.card-text= prestation.description
			.row
				.text-success.mx-2= prestation.prix
				.text-info.mx-2= prestation.duration
			
block content	
	section.parallax.bg1
		.row
			#presentation.container.col-5.p-4
				p Ici & Maintenant, je choisis de me faire du bien, de prendre soin de moi.
				| Ici & Maintenant, je choisis de m’offrir un temps particulier, un temps en suspend.
				| Ici & Maintenant, je choisis de respirer, de faire le vide pour m’emplir de douceur.
				| Je choisis de porter attention sur mon corps, mon esprit, ma santé.
				| Ici & Maintenant, sans penser à autre chose qu’à ma relaxation,
				| j’accepte de lever le pied, de me détendre et de me sourire.
				| Ici & Maintenant, pour ne pas remettre à plus tard ce qui est important.
	section.static
		.container#prestations
			.row
				each prestation in prestations
					+prestation(prestation)
			
	section.parallax.bg2
	