extends dashboard

block data
	section.text-dark.w-100
		.container.py-3
			.row.justify-content-sm-center
				.col-sm-12.col-md-12
					.card.border-info.text-center
						.card-header
							| Create Prestation							
						.card-body
							form(action='/dashboard/prestations/update?_method=PATCH' method='post' enctype='multipart/form-data')
								fieldset
									legend Prestation
									.row.align-items-center.mt-4
										.col
											input.form-control(type='text' name='titre' placeholder='Titre' value=prestation.titre required)
									.row.align-items-center.mt-4
										.col
											input.form-control(type='text' name='sous_titre' placeholder='Sous-titre' value=prestation.sous_titre required)
									.row.align-items-center.mt-4
										.col
											textarea.form-control(name='description' placeholder='description' rows='8' cols='30' required)= prestation.description
									.row.align-items-center.mt-4
										.col
											select.form-control(name='duration' placeholder='durée' required)
												option(value='30' selected=prestation.duration===30) 30 min
												option(value='45' selected=prestation.duration==45) 45 min
												option(value='60' selected=prestation.duration==60) 1 h
												option(value='75' selected=prestation.duration==75) 1 h 15 min
												option(value='90' selected=prestation.duration==90) 1 h 30 min
												option(value='105' selected=prestation.duration==105) 1 h 45 min
												option(value='120' selected=prestation.duration==120) 2 h
										.col
											input.form-control(type='number' name='prix' placeholder='Prix' value=prestation.prix required)
									.row.align-items-center.mt-4
										.col
											input.custom-file(type='file' name='image' required)
									.row.justify-content-start.mt-4
										.col
											input(type='hidden' name='id' value=prestation._id required)
											input.btn.btn-primary.mt-4(type='submit')